# Python
__pycache__/
task_venv/

# Files directories
files/downloaded_files/*
files/parsed_files/*
files/archived_files/*
!files/.gitkeep
!files/downloaded_files/.gitkeep
!files/parsed_files/.gitkeep
!files/archived_files/.gitkeep

airflow-docker/

!airflow-docker/docker-compose.yml
!airflow-docker/dags/

**/logs/
**/Logs/
**/*.log